div {
    background-color: darkorange;
    margin-top: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
    font-family: sans-serif;

}


footer{
    margin-top: 240px;
    text-align: right;
    font-size: 10px;
}


